---
import { CollectionEntry, getCollection } from "astro:content"

import Page from "../../layouts/page.astro"

import Button from "../../components/Button.svelte"
import Tag from "../../components/Tag.svelte"

import { getImage } from "@astrojs/image"

interface Props {
  entry: CollectionEntry<"work">
}

export async function getStaticPaths() {
  const work = await getCollection("work")
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()

const { src } = await getImage({
  src: import("../../" + entry.data.img),
  alt: entry.data.img_alt,
})
---

<Page
  title={entry.data.title + " | Rishab Garg"}
  description={entry.data.description}
>
  <header
    style={`background-image:url(${src})`}
    class="relative overflow-hidden p-32 flex bg-no-repeat bg-cover min-h-[30vh] flex-col items-center justify-center bg-transparent bg-center rounded-lg"
  >
    <h1 class="text-4xl font-extrabold py-4 px-8 absolute">
      {entry.data.title}
    </h1>
  </header>

  <div class="wrapper pt-16 pb-14 text-center">
    {entry.data.tags.map((t: string) => <Tag tag={t} />)}

    <h3 class="text-xl font-normal mt-6">
      {entry.data.description}
    </h3>
  </div>

  <div class="leading-loose prose prose-lg max-w-none text-white">
    <Content />
  </div>

  <div class="text-center mt-8">
    <a href="/work" rel="prefetch">
      <Button>More Projects</Button>
    </a>
  </div>
</Page>
