---
import MainHead from "../components/MainHead.astro"
import Button from "../components/Button.svelte"
import Nav from "../components/Nav.svelte"
import Footer from "../components/Footer.svelte"
import Tag from "../components/Tag.svelte"

const { content } = Astro.props as { content: Frontmatter }
---

<html lang="en">
  <head>
    <MainHead
      title={content.title + " | Rishab Garg"}
      description={content.description}
    />
  </head>

  <body>
    <Nav />
    <header
      style={`background-image:url(${content.img})`}
      class="p-32 flex bg-no-repeat bg-cover min-h-[50vh] text-[#fff] flex-col items-center justify-center bg-transparent bg-center"
    >
      <h1 class="text-6xl font-extrabold uppercase tracking-widest">
        {content.title}
      </h1>
    </header>
    <div class="wrapper pt-16 pb-14 text-center">
      {content.tags.map((t) => <Tag tag={t} />)}

      <h3 class="font-light text-xl mt-6">{content.description}</h3>
    </div>
    <div class="max-w-[60vw] mx-auto px-8">
      <div class="leading-loose">
        <slot></slot>
      </div>
    </div>
    <footer class="text-center mt-8">
      <a href="/projects">
        <Button>View More</Button>
      </a>
    </footer>
    <Footer />
  </body>
</html>
