---
import Button from "../components/Button.svelte"
import Tag from "../components/Tag.svelte"
import tags from "../components/tags"
import Page from "./page.astro"

const { frontmatter } = Astro.props as { frontmatter: Frontmatter }
---

<Page
  title={frontmatter.title + " | Rishab Garg"}
  description={frontmatter.description}
>
  <header
    style={`background-image:url(${frontmatter.img})`}
    class="p-32 flex bg-no-repeat bg-cover min-h-[30vh] flex-col items-center justify-center bg-transparent bg-center rounded-md"
  >
    <h1
      class="text-[#fff] text-6xl font-extrabold uppercase tracking-wider py-4 px-8 bg-gutter-grey bg-opacity-60 backdrop-blur rounded-md"
    >
      {frontmatter.title}
    </h1>
  </header>

  <div class="wrapper pt-16 pb-14 text-center">
    {
      frontmatter.tags
        .filter((t) => tags.includes(t))
        .map((t) => <Tag tag={t} />)
    }

    <h3 class="font-light text-xl mt-6">{frontmatter.description}</h3>
  </div>

  <div class="leading-loose">
    <slot />
  </div>

  <footer class="text-center mt-8">
    <a href="/projects">
      <Button>More Projects</Button>
    </a>
  </footer>
</Page>
